# --- MOTOR GRÁFICO DE LA INTERFAZ ---
customtkinter==5.2.2
darkdetect==0.8.0

# --- PROCESAMIENTO DE IMÁGENES Y GIFS ---
pillow==12.2.0

# --- GESTIÓN DE RED Y DESCARGAS (API GITHUB / HF) ---
requests==2.33.1
certifi==2026.4.22
charset-normalizer==3.4.7
idna==3.13
urllib3==2.7.0
packaging==26.2

# --- ENTORNO DE COMPILACIÓN NATIVA (AÑADIR ESTOS) ---
nuitka>=2.4.0
ordered-set>=4.1.0